.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
}

.login-box {
  background: white;
  padding: 30px 25px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #444;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #6750A4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #533b87;
}

.error {
  color: #d32f2f;
  margin-bottom: 10px;
  font-size: 14px;
}
